@import "templates.scss";

.cards {
  @extend %cards;
}

.contentHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  img {
    margin-left: 60px;
  }
  
  h1 {
    padding: 40px 20px;
    margin: 0;
    word-break: break-all;
}}
