* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(228, 229, 128);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(117, 26, 26, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

li {
  list-style-type: none;
}

header {
  padding: 36px 63px 36px 45px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;

  .headerLeft {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h3 {
      margin: 0;
      text-transform: uppercase;
    }

    p {
      margin: 0;
    }
  }
}

.headerRight {
  display: flex;
}

.cartPrice {
  margin: 0 30px 0 10px;
}

.content-header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-header {
  padding: 40px 60px;
  margin: 0;
}

.search-block {
  border: 1px solid #f2f2f2;
  border-radius: 10px;
  margin-right: 60px;
  width: 250px;
  height: 45px;
  display: flex;
  align-items: center;

  img {
    margin-left: 14px;
  }

  input {
    margin-left: 18px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
}


.cards {
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  transition: box-shadow .9s ease-in-out;
}

.card {
  border: 1px solid #F3F3F3;
  padding: 20px 30px;
  margin-bottom: 40px;
  width: 150px;
  height: 220px;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  & h5 {
    font-size: 14px;
    font-weight: 400;
    margin-block: 14px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
}


.favorite {
  position: absolute;
  cursor: pointer;
}

.cardButtom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardButtomPrice {
  display: flex;
  flex-direction: column;

  p {
    margin: 0 0 2px;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    color: #BDBDBD;
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }
}

.cardPlusButton {
  background: #FFFFFF;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
  cursor: pointer;
}


.cartOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.cartPopup {
  padding: 0 30px;
  position: absolute;
  width: 345px;
  height: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  h2 {
    margin: 32px 0 30px;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    justify-content: space-between
  }

  ul {
    margin-top: 0;
    padding: 0;
  }
}

.cartItems{
  flex: 1;
  overflow: auto;
}

.cartItem {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  border: 1px solid #F3F3F3;
  border-radius: 20px;
  width: 285px;
  height: 120px;
  line-height: 17px;
  font-size: 16px;
  overflow: auto;

  p {
    margin: 0 0 8px;
    font-size: 15px;
    }
}

.cartItemPrice {
  margin: 0 20px;
}

.cartItemRemove {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
  
  &:hover {
    opacity: 1;
  }
}

.cartTotal{
  margin-bottom: 24px;

  li {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;

    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 10px;
    }
  }
}

.cartSubbmit {
  width: 100%;
  height: 55px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  margin-bottom: 30px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: relative;

  .cartSubbmitArrow {
    position: absolute;
    right: 30px;
    top: 40%;
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    background: lighten(#9DD558, 10%);
    .cartSubbmitArrow {
      transform: translateX(5px);
    }

  }
  &:active {
    background: darken(#9DD558, 5%);
  }
}

